* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #2B2D42;
}

/* Header */

header{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #EDF2F4;
}

header section{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 0.8rem;
    margin-left: 1.2rem;
}

header section img{
    width: 2.5rem;
}

header section h3{
    color: #EF233C;
    font-size: 2rem;
    font-family: 'Jaro', sans-serif;   
}
header nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

header nav aside{
    display: flex;
    border: none;
    border-radius: 0.5rem;
    background-color: #6E7081;
    width: 15rem;
    height: 2rem;
    margin-left: auto;
}

header nav aside input{
    background-color: #6E7081;
    border-radius: 0.8rem;
    color: white;
    width: 14rem;
    height: 2rem;
}

header nav aside input::placeholder{
    color: white;
    padding: 0.8rem;
}

header nav aside img{
    width: 1.5rem;
    margin-right: 0.7rem;
}

header nav a{
    text-decoration: none;
    border: 0.2rem solid #EF233C;
    border-radius: 0.5rem;
    color: #EF233C;
    margin-left: 1.3rem;
    margin-right: 4.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: sans-serif;
}

/* Main */

main h1{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 4rem;
    font-family: sans-serif;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

main section img{
    border-radius: 0.8rem;
}

main section div img{
    width: 2.3rem;
    cursor: pointer;
    transition: all 300ms;
}
main section div img:hover{
    transform: scale(1.2);
}

main article p{
    color: #ffffff;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}




