* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    border-bottom: 1px solid #EDF2F4;
}

header div h3 {
    font-family: 'Jaro', sans-serif;
    font-size: 30px;
}

header div span {
    color: #EF233C;
    margin: 2px 10px;
}

header div#logo {
    display: flex;
    align-items: center;
    color: #EF233C;
}

header div input {
    width: 250px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #6E7081;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color: #FFF;
    outline: none;
    border: none;
}

header div input::placeholder {
    color: #FFF;
}

header div a {
    margin: 10px 20px;
    padding: 5px 8px;
    color: #EF233C;
    border: 3px solid #EF233C;
    border-radius: 8px;
    cursor: pointer;
}