header input#menu{
    display: none;
}

header nav img{
    display: none;
    width: 2.8rem;
}

@media(max-width: 800px) {
    header section h3{
        display: none;
    }
    header nav{
        display: flex;
        margin-left: 0.1rem;
    }
    header nav img{
        display: flex;
    }
    header{
        flex-direction: row-reverse;
    }

    header nav label {
        margin-left: 0.5rem;
        border: 0.18rem solid #ffffff;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        cursor: pointer;
    }

    header nav label span {
        border: 0.1rem solid #ffffff;
        width: 1.6rem;
        height: 0.1rem;
    }

    header nav label span:first-child {
        margin-top: 0.2rem;
    }

    header nav label span:last-child {
        margin-bottom: 0.2rem;
    }

    header input#menu:checked~nav aside {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        top: 3.1rem;
        left: 0.5rem;
    }
}